{% load static %}
<html>
    <head>
        hello world
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <h1>Hello bud</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit natus quis cumque in eaque, enim illo consequatur molestias a vitae animi labore delectus veritatis aperiam, et dolor alias ducimus distinctio.

        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis, earum saepe libero numquam explicabo sunt nam vero tenetur magnam ullam officia culpa possimus cumque cupiditate sapiente impedit. Fugit, dolor!

        </p>

    </body>
</html>