<!--File: about.html
 Author: Run Liu (lr0826@bu.edu), 9/9/2025
Description: the about html file that is a small biography of William Shakespeare-->
<!DOCTYPE html>
{% extends 'quotes/base.html' %}
    {% block content %}
    <main>
        <h1>About William Shakespeare</h1>
        <p>
            William Shakespeare (1564–1616) was an English playwright, poet, and actor, widely regarded as the greatest writer in the
            English language and one of the most influential figures in world literature. He was born in Stratford-upon-Avon, England, in April 1564, and baptized on April 26.
    
           Shakespeare wrote 39 plays, 154 sonnets, and two long narrative poems. His works covered comedies, histories, tragedies, 
           and romances, including famous plays such as Romeo and Juliet, Hamlet, Macbeth, Othello, and King Lear. His plays are renowned for their rich language, complex characters, and deep exploration of human nature.
           
           By the 1590s, Shakespeare was an established actor and playwright in London, associated with the acting company Lord 
           Chamberlain’s Men (later the King’s Men). His works were performed at the Globe Theatre and the Blackfriars Theatre, and he became both popular and financially successful.
           
           In his later years, Shakespeare retired to Stratford, where he died on April 23, 1616, at the age of 52. Today, 
           his plays are performed and studied worldwide, earning him the title “the Bard of Avon.”
       </p>
    </main>
    {% endblock %}