<!--File: base.html
 Author: Run Liu (lr0826@bu.edu), 9/24/2025
Description: the base template for Profiles-->
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'styles_profile.css' %}">
    </head>
    <body>
        <article>
            
            <main class="content">
                
                {% if request.user.is_authenticated %}
                {% else %}
                {% endif %}
                {% if request.user.is_authenticated %}
                    logged in as: {{request.user}}
                {% else %}
                    not logged in 
                {% endif %}
                {% block content %}{% endblock %}
            </main>
        </article>
        
        <footer>
            
            
            {% if request.user.is_authenticated %}
                    <a href="{% url 'show_feed' %}"> <img src="https://img.favpng.com/15/23/6/house-home-computer-icons-clip-art-png-favpng-jLetcUrr130Sv6HHj1Btq9Tr4.jpg" style="width:80px; height:80px" ></a>
                    <a href="{% url 'profile' %}"><img src="{{viewer_profile.profile_image_url}}" style="width:80px;height:80px;border-radius:50%;"></a>
                    <a href="{% url 'search' %}"><img src="https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg" style="width:80px;height:80px;border-radius:50%;"></a>
                    <a href="{% url 'create_post' %}"><img src="https://png.pngtree.com/png-vector/20190419/ourmid/pngtree-vector-add-icon-png-image_956621.jpg" style="width:80px; height:80px;"></a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
            {% else %}
                
                <a href="{% url 'show_all_profiles' %}"> <img src="https://img.favpng.com/15/23/6/house-home-computer-icons-clip-art-png-favpng-jLetcUrr130Sv6HHj1Btq9Tr4.jpg" style="width:80px; height:80px" ></a>
                <a href="{% url 'login' %}">Login</a>
                
            {% endif %}
        </footer>
    </body>
</html>