<!--File: base.html
 Author: Run Liu (lr0826@bu.edu), 9/24/2025
Description: the base template for Profiles-->
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'styles_profile.css' %}">
    </head>
    <body>
        <article>
            <a href="{% url 'show_all_profiles' %}">Home Page</a>
            
            <main class="content">
                
                {% block content %}{% endblock %}
            </main>
        </article>
        <footer>
            <a href="{% url 'show_all_profiles' %}">Home Page</a>
          </footer>
    </body>
</html>