<!--File: show_post.html
 Author: Run Liu (lr0826@bu.edu), 9/30/2025
Description: the show_post html file-->
<!DOCTYPE html>
{%extends 'mini_insta/base.html' %}
    {% block content %}
    
    <header>
        <h2>Post</h2>
    </header>
        
        <table>
            <h1>{{post.caption}}</h1>
            
            <h2>Posted on {{post.timestamp}}</h2>
            <article>
                {% if request.user.is_authenticated and post.profile.user_id == request.user.id %}
                    <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
                    <p></p>
                    <a href="{% url 'update_post' post.pk %}">Update Post</a>
                {% else %}
                {% endif %}
            </article>
            {% with first_photo=post.get_all_photos.first %}
                {% if first_photo %}
                    {% for pic in post.get_all_photos %}
                    <img src="{{ pic.get_image_url }}" alt="">
                    {% endfor %}
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png?20250720084638" alt="Not found">
                {% endif %}
            {% endwith %}
            
        </table>
            {% with num=post.get_num_likes first_like=post.get_likes|first %}
                {% if num > 1 %}
                Liked by @{{ first_like.profile.username }} and {{ num|add:"-1" }} others
                {% elif num == 1 %}
                Liked by @{{ first_like.profile.username }}
                {% else %}
                No likes yet.
                {% endif %}
            {% endwith %}
            {% for com in post.get_all_comments %}
                <div id="texts">
                    @<strong>{{com.profile.username}}</strong> {{com}}
                </div>
            {% endfor %}
      
    {% endblock %}