<!--File: show_profile.html
 Author: Run Liu (lr0826@bu.edu), 9/24/2025
Description: the show_profile html file-->
<!DOCTYPE html>
{%extends 'mini_insta/base.html' %}
    {% block content %}
    <!--{{profiles}} -->
    <header>
        <h2>Mini-Insta-Username: @{{profile.username}}</h2>
    </header>
    <div>
        <div id="name">
            <h2>{{profile.display_name}}</h2>
        </div>
        <p>
            Join Date: {{profile.join_date}} <br>
        </p>
        <h2>Bio</h2>
        <p>
            {{profile.bio_text}}
            
        </p>
        <div class="profpic">
            <img src="{{profile.profile_image_url}}" alt="">
        </div>
        <h3>
            <a href="{% url 'update_profile' %}">Update Profile</a>
        </h3>
        <div id="profile-header">
            <strong>{{profile.get_num_followers}}</strong>
            <br>
            <a href="{% url 'show_followers' profile.pk %}">followers</a>
        </div>
        <div id="profile-header">
            <strong>{{profile.get_num_following}}</strong>
            <br>
            <a href="{% url 'show_following' profile.pk %}">following</a>
        </div>
        <h2> Posts </h2>
        {% for post in profile.get_all_posts %}

            {% with first_photo=post.get_all_photos.first %}
                {% if first_photo %}
                    <a href="{% url 'show_post' post.pk %}">
                    <img src="{{first_photo.get_image_url}}" alt="">
                {% else %}
                    <a href="{% url 'show_post' post.pk %}">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png?20250720084638" alt="Not found">
                {% endif %}
            {% endwith %}
        {% endfor %}
        
    </div>
    {% endblock %}