<!--File: show_post.html
 Author: Run Liu (lr0826@bu.edu), 9/30/2025
Description: the show_post html file-->
<!DOCTYPE html>
{%extends 'mini_insta/base.html' %}
    {% block content %}
    
    <header>
        <h2>Post</h2>
    </header>
        
        <table>
            <h1>{{post.caption}}</h1>
            
            <h2>Posted on {{post.timestamp}}</h2>
            <article>
                <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
                <p></p>
                <a href="{% url 'update_post' post.pk %}">Update Post</a>
            </article>
            {% with first_photo=post.get_all_photos.first %}
                {% if first_photo %}
                    {% for pic in post.get_all_photos %}
                    <img src="{{ pic.get_image_url }}" alt="">
                    {% endfor %}
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png?20250720084638" alt="Not found">
                {% endif %}
            {% endwith %}
            
        </table>
            Liked by @{{post.get_likes.first.profile.username}} and {{post.get_num_likes}} others
            {% for com in post.get_all_comments %}
                <div id="texts">
                    @<strong>{{com.profile.username}}</strong> {{com}}
                </div>
            {% endfor %}
      
    {% endblock %}