<!--File: update_post_form.html
 Author: Run Liu (lr0826@bu.edu), 10/9/2025
Description: the update_post_form html file-->
<!DOCTYPE html>
{%extends 'mini_insta/base.html' %}
    {% block content %}
    <header>
        <h2>Update this Post</h2>
    </header>
    <form action="{% url 'update_post' post.pk %} " method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type = "submit" name = "submit" value = "Update">
    </form>
    <form action="{% url 'show_post' post.pk %}" method="GET">
        <input type="submit" value="Cancel">
    </form>
    {% endblock %}